h1 {
    color: #000000;
}

form {
    display: inherit;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group {
    width: 45%;
    margin: 16px;
}

#form-address {
    width: 100%;
}